@font-face {
  font-family: 'zhang';
  src:
    url('./fonts/jiang.ttf') format('truetype'),
    url('./fonts/jiang.woff') format('woff'),
    url('./fonts/jiang.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zhang' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-x:before {
  content: "\78";
}
.icon-cart:before {
  content: "\e600";
}
.icon-check:before {
  content: "\e601";
}
.icon-circlehollow:before {
  content: "\e602";
}
.icon-circlesolid:before {
  content: "\e603";
}
.icon-close-circle:before {
  content: "\e604";
}
.icon-close:before {
  content: "\e605";
}
.icon-error:before {
  content: "\e606";
}
.icon-location:before {
  content: "\e607";
}
.icon-minus:before {
  content: "\e608";
}
.icon-emotion:before {
  content: "\e609";
}
.icon-plus:before {
  content: "\e60a";
}
.icon-rect:before {
  content: "\e60b";
}
.icon-star:before {
  content: "\e60c";
}
.icon-time3:before {
  content: "\e60d";
}
.icon-tip:before {
  content: "\e60e";
}
.icon-tridown:before {
  content: "\e60f";
}
.icon-triup:before {
  content: "\e610";
}
.icon-check-circle-hollow:before {
  content: "\e611";
}
.icon-check-circle:before {
  content: "\e612";
}
.icon-ask:before {
  content: "\e613";
}
.icon-emotion-hollow2:before {
  content: "\e614";
}
.icon-ask-hollow:before {
  content: "\e615";
}
.icon-plane2:before {
  content: "\e616";
}
.icon-money-hollow2:before {
  content: "\e617";
}
.icon-text-circle:before {
  content: "\e618";
}
.icon-yeshollowbold:before {
  content: "\e619";
}
.icon-refresh:before {
  content: "\e61a";
}
.icon-close-mini:before {
  content: "\e61b";
}
.icon-me:before {
  content: "\e61c";
}
.icon-lock:before {
  content: "\e61d";
}
.icon-search2:before {
  content: "\e620";
}
.icon-star-hollow:before {
  content: "\e621";
}
.icon-good:before {
  content: "\e622";
}
.icon-arrow-down:before {
  content: "\e61e";
}
.icon-arrow-right:before {
  content: "\e61f";
}
.icon-arrow-left:before {
  content: "\e623";
}
.icon-arrow-top:before {
  content: "\e624";
}
.icon-minus-mini:before {
  content: "\e625";
}
.icon-plus-mini:before {
  content: "\e626";
}
.icon-check2:before {
  content: "\e62f";
}
.icon-cart4:before {
  content: "\e627";
}
.icon-wait2:before {
  content: "\e628";
}
.icon-arrow-right-circle:before {
  content: "\e629";
}
.icon-heart1:before {
  content: "\e62a";
}
.icon-delete:before {
  content: "\e62b";
}
.icon-heart-hollow:before {
  content: "\e62c";
}
.icon-share2:before {
  content: "\e62d";
}
.icon-speaker:before {
  content: "\e62e";
}
.icon-share:before {
  content: "\e630";
}
.icon-small-plus:before {
  content: "\e631";
}
.icon-cart3:before {
  content: "\e632";
}
.icon-calendar:before {
  content: "\e633";
}
.icon-kaolalogo2:before {
  content: "\e634";
}
.icon-plane:before {
  content: "\e635";
}
.icon-dialog:before {
  content: "\e636";
}
.icon-cart2:before {
  content: "\e637";
}
.icon-mian:before {
  content: "\e638";
}
.icon-flag2:before {
  content: "\e639";
}
.icon-search:before {
  content: "\e63a";
}
.icon-tui2:before {
  content: "\e63b";
}
.icon-phone2:before {
  content: "\e63c";
}
.icon-zheng4:before {
  content: "\e63d";
}
.icon-zheng3:before {
  content: "\e63e";
}
.icon-zheng2:before {
  content: "\e63f";
}
.icon-kaolalogo:before {
  content: "\e640";
}
.icon-clock3:before {
  content: "\e643";
}
.icon-tui:before {
  content: "\e642";
}
.icon-you:before {
  content: "\e644";
}
.icon-zheng:before {
  content: "\e645";
}
.icon-time2:before {
  content: "\e646";
}
.icon-shop:before {
  content: "\e648";
}
.icon-clock2:before {
  content: "\e64a";
}
.icon-store:before {
  content: "\e641";
}
.icon-flag:before {
  content: "\e649";
}
.icon-phone:before {
  content: "\e64b";
}
.icon-clock:before {
  content: "\e64c";
}
.icon-money:before {
  content: "\e64d";
}
.icon-down-sign:before {
  content: "\e64e";
}
.icon-fire2:before {
  content: "\e64f";
}
.icon-arrow-up-bold:before {
  content: "\e651";
}
.icon-arrow-down-bold:before {
  content: "\e653";
}
.icon-lightning:before {
  content: "\e650";
}
.icon-down:before {
  content: "\e654";
}
.icon-location-hollow:before {
  content: "\e896";
}
.icon-Crown:before {
  content: "\e652";
}
.icon-fire:before {
  content: "\e655";
}
.icon-camera:before {
  content: "\e656";
}
.icon-time:before {
  content: "\e657";
}
.icon-wait:before {
  content: "\e658";
}
.icon-write:before {
  content: "\e659";
}
.icon-money-hollow:before {
  content: "\e65a";
}
.icon-emotion-hollow:before {
  content: "\e65b";
}
.icon-close-circle-hollow:before {
  content: "\e65c";
}
.icon-hklogo:before {
  content: "\e647";
}
.icon-stockout:before {
  content: "\e65d";
}
.icon-phone1:before {
  content: "\e65e";
}
.icon-yemiandajian_xieru:before {
  content: "\e660";
}
.icon-yemiandajian_pcduan:before {
  content: "\e661";
}
.icon-yemiandajian_zixun:before {
  content: "\e662";
}
.icon-dajian:before {
  content: "\e663";
}
.icon-yemiandajian_shezhi:before {
  content: "\e664";
}
.icon-yemiandajian_shangfan:before {
  content: "\e665";
}
.icon-yemiandajian_xiafan:before {
  content: "\e666";
}
.icon-yemiandajian_yidongduan:before {
  content: "\e667";
}
.icon-yemiandajian_xiaoxi:before {
  content: "\e669";
}
.icon-yemiandajian_zhiding:before {
  content: "\e66a";
}
.icon-yemiandajian_zhidi:before {
  content: "\e66c";
}
.icon-scan:before {
  content: "\e65f";
}
.icon-jintuikuan:before {
  content: "\e668";
}
.icon-tuihuotuikuan:before {
  content: "\e66b";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star-o:before {
  content: "\64";
}
.icon-unlock-alt:before {
  content: "\71";
}
